.container {
  padding: 0 2rem;
}

.main {
  min-height: 100%;
  padding: 4rem 0;
  text-align: center;
  color: white !important;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-weight: 900;
}

.wrapper {
  margin: 4.5rem 3rem 0;
}

.sideBar1 {
  display: flex;
  justify-content: center;
}

.sideBar2 {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.frame {
  width: 320px;
  height: 320px;
  border: 6px solid white;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 2px 4px #ccc;
}

.zoomAnimationWrapper {
  overflow: hidden;
}

.zoomAnimation {
  transition: 0.8s all ease-in-out;
}

.zoomAnimationWrapper:hover .zoomAnimation {
  transform: scale(1.1);
}

.textWrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: left;
}

.designation {
  font-size: 2rem;
  font-weight: 700;
}

.description {
  font-size: 1rem;
  line-height: 1.6;
  margin: 1em 0 2em;
}

.btn {
  font-weight: 700 !important;
  font-size: 0.95rem;
  padding: 6px 10px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  margin-right: 15px;
}

.btn:hover {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.contact, .projects {
  margin: 7rem 5rem 0;
}

.projectCard {
  padding: 0 1rem;
}

.circle {
  width: 8px;
  height: 8px;
  background-color: white;
  margin: 0 15px;
  border-radius: 25px;
}

.wrapper {
  color: white !important;
}

.map {
  border: 0;
  width: 100%;
  height: 404px;
  border-radius: 25px 0 0 25px;
  box-shadow: 0 2px 2px;
}

.formBg {
  padding: 1rem;
  background-color: #cecfcf;
  border-radius: 0 25px 25px 0;
  box-shadow: 0 2px 2px;
}

.textarea {
  width: 100%;
  height: 100px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid black;
  margin-bottom: 12px;
  outline: 0;
  font-size: 1.2em;
}

.divider {
  width: 40%;
  height: 1px;
  margin: 0 auto;
  background-color: black;
  margin-top: 5px;
}

.smHolder {
  padding-top: 4rem;
  padding-bottom: 6px;
  color: #aaa;
  justify-content: center;
  display: flex;
  align-items: center;
}

.footer {
  width: 90%;
  text-align: center;
  margin: auto;
  padding: 8px 0;
  color: #aaa;
  border-top: 1px solid #aaa;
}

.flyUp {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: transparent;
}

.flyUp:hover {
  background-color: transparent;
}

@media screen and (max-width: 599px) {
  .container {
    padding: 0;
  }

  .sideBar1 {
    margin-bottom: 1rem;
  }

  .frame {
    width: 100%;
    height: 85%;
  }

  .textWrapper {
    text-align: center;
    width: 100%;
  }

  .description {
    font-size: 1.4em;
    line-height: 1.3;
  }

  .contact, .projects {
    margin: 0;
  }

  .projectCard {
    margin: 0 1rem 2rem;
  }

  .btnGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn {
    margin: 4px 0;
    font-size: 1em;
  }

  .divider {
    width: 70%;
  }

  .map, .formBg {
    border-radius: 15px;
    width: 100%;
  }
}

@media screen and (min-width: 600px) and (max-width: 1100px) {
  .sideBar1 {
    margin-bottom: 4rem;
  }

  .textWrapper {
    text-align: center;
    width: 100%;
  }

  .designation {
    font-size: 2.4em;
  }

  .description {
    font-size: 1.3em;
  }

  .projectCard {
    margin-bottom: 2rem;
  }

  .btnGroup {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
  }

  .btn {
    margin: 0;
    font-size: 1.2em;
  }

  .divider {
    width: 70%;
  }

  .map, .formBg {
    border-radius: 15px;
    width: 100%;
  }
}