.container {
  padding: 0 2rem;
}

.main {
  min-height: 100%;
  padding: 4rem 0 0;
  text-align: center;
  color: white !important;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3.4rem;
  font-weight: 900;
}

.wrapper {
  margin: 10rem 3rem;
}

.sideBar1 {
  display: flex;
  justify-content: center;
}

.sideBar2 {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.frame {
  width: 320px;
  height: 320px;
  border: 6px solid white;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 2px 4px #ccc;
}

.zoomAnimationWrapper {
  overflow: hidden;
}

.zoomAnimation {
  transition: 0.8s all ease-in-out;
}

.zoomAnimationWrapper:hover .zoomAnimation {
  transform: scale(1.1);
}

.textWrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: left;
}

.designation {
  font-size: 1.8rem;
  font-weight: 700;
}

.btn {
  font-weight: 700 !important;
  font-size: 0.95rem;
  padding: 0.6rem 1rem !important;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  margin-right: 10px;
  text-align: center !important;
}

.btn:hover {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.hover {
  border-bottom: 1px solid transparent;
}

.hover:hover {
  color: white;
  border-bottom: 1px solid white;
}

.contact,
.projects {
  margin: 7rem 5rem 0;
}

.projectCard {
  padding: 0 1rem;
}

.wrapper {
  color: white !important;
}

.info {
  padding: 4rem 0;
  text-align: left;
}

.formBg {
  padding: 1rem;
  background-color: #cecfcf;
  border-radius: 0 15px 15px 15px;
  box-shadow: 0 2px 2px;
}

.smHolder {
  margin-top: 1.5rem;
  color: #aaa;
  justify-content: flex-start;
  display: flex;
  align-items: center;
}

.smHolder a:hover {
  color: white;
}

.footer {
  width: 90%;
  text-align: center;
  margin: auto;
  padding: 1rem 0 1.1rem;
  color: #aaa;
  border-top: 1px solid #aaa;
}

.skillsWrapper {
  width: 100%;
  background-color: #ddd;
  margin: 1rem 0;
  border-radius: 15px !important;
}

.skillsName {
  text-align: left;
  padding-left: 10px;
  margin: 10px 0 8px !important;
  transition: width .6s ease;
  font-size: 1.2em;
  font-family: monospace;
  letter-spacing: 1px;
}

.language ul {
  display: flex;
  flex-wrap: wrap;
}

.language ul li {
  position: relative;
  background-color: #252930;
  margin-right: 15px;
  padding: 0.5rem 1.2rem;
  font-weight: 900;
  border-radius: 10px;
  list-style-type: none;
}

.language ul li p {
  margin-bottom: 3px;
  text-transform: uppercase;
}

.language ul li .fluency {
  position: absolute;
  content: "";
  left: 0;
  background-color: #00cf5d;
  height: 3px;
  width: 100%;
  bottom: 0;
  border-radius: 10px;
}

/* For Responsiveness */
@media screen and (max-width: 599px) {
  .container {
    padding: 0;
  }

  .sideBar1 {
    margin-bottom: 0;
  }

  .frame {
    width: 100%;
    height: 85%;
  }

  .textWrapper {
    text-align: center;
    width: 100%;
    margin-bottom: 0
  }

  .designation {
    height: 65px !important;
  }

  .description {
    font-size: 1.4em;
    line-height: 1.3;
  }

  .contact,
  .projects {
    margin: 0;
  }

  .projectCard {
    margin: 0 1rem 2rem;
  }

  .btnGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .hover:hover {
    color: black;
  }

  .btn {
    margin: 4px 0;
    font-size: 1em;
  }

  .map,
  .formBg {
    border-radius: 15px;
    width: 100%;
  }

  .marginBottomInMobile {
    margin-bottom: 2rem !important;
  }

  .info {
    padding: 0;
    text-align: center;
  }

  .skillsContainer {
    padding: 40px 20px 10px;
  }

  .projectHolder {
    padding: 1rem;
  }

  .projectBtn {
    margin: 5px;
  }

  .goBackBtn {
    padding: 0;
  }

  .footer {
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 1100px) {
  .sideBar1 {
    margin-bottom: 4rem;
  }

  .textWrapper {
    text-align: center;
    width: 100%;
  }

  .designation {
    font-size: 2.4em;
  }

  .description {
    font-size: 1.3em;
  }

  .projectCard {
    margin-bottom: 2rem;
  }

  .btnGroup {
    display: flex;
    justify-content: space-around;
    margin: 0;
  }

  .btn {
    margin: 0;
    font-size: 1.2em;
  }

  .map,
  .formBg {
    border-radius: 15px;
    width: 100%;
  }

  .info {
    padding: 0;
    text-align: center;
  }

  .projectBtn {
    margin: 5px 0;
  }

  .projectContent {
    padding-top: 0;
  }
}